<div class="p-comment__item">
  <p><%= simple_format(comment.comment) %></p>
  <div class="p-comment__bottomLine">
    <span><%= comment.name %></span>
    <span><%= comment.created_at.strftime('%Y年 %m月 %d日 %H時 %M分')  %></span>
  </div>
  <% if flash[:edit] %>
    <%= button_to '削除', comment, class: 'btn btn-danger', method: :delete %>
  <% end %>
</div>